/* Google Fonts */
/* font-family: 'Francois One', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Satisfy', cursive; */

/* Main Items */

body {
    background: linear-gradient(45deg, rgba(142, 68, 173, 0.8), rgba(247, 202, 24, 0.6));
    background-image: url('background/kobe1.png');
    height: 100%;
    background-position: 50% 30%;   /* X and Y axis, almost the same as center top */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    transition: 1.0s;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Info */

#about {
    width: 60%;
}

#about button {
    background: none;
    color: white;
    border: none;
    display: flex;
    justify-content: flex-start;
}

#about button:hover {
    color: yellow;
    cursor: pointer;
}

#about button:active { /*For Mobile styling */
    color: yellow;
    cursor: pointer;
}

#about h4 {
    width: 50%;
    margin: 10% 25%;
    background: white;
    border: 3px solid black;
    padding: 10px;
    opacity: 0.5;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    display: none;
    transition: 0.9s;
    z-index: 1;
    position: absolute; /* Prevents the rest of the page from moving down alot */
}

#about h4:hover {
    opacity: 0.9;
    transition: 0.8s;
}

#about h4:active { /*For Mobile styling */
    opacity: 0.9;
    transition: 0.8s;
}


#close {
    display: none;
}

#close:hover {
    color: red;
}



/* Quote */

#quote {
    flex-wrap: wrap;
    margin: 10px;
}

h2 {
    color: white;
    font-size: 50px;
    font-family: 'Lobster Two', cursive;
    transition: 2.0s;
    text-align: center;
    background: rgba(247, 202, 24, 0.2); /* Improves readability */
}

.actions {
    margin-top: 25%;
}

/*Button to get quote */

.actions button {
    padding: 20px;
    margin: 10px;
    border: 3px white solid;
    color: purple;
    background-color: yellow;
    font-family: 'Francois One', sans-serif;
    font-size: 15px;
    position: absolute;
}

.actions button:hover {
    padding: 20px;
    margin: 10px;
    border: 3px white solid;
    color: yellow;
    background-color: purple;
    cursor: pointer;
}

.actions button:active { /*For Mobile styling */
    padding: 25px;
    margin: 10px;
    border: 3px white solid;
    color: yellow;
    background-color: purple;
    cursor: pointer;
}


/* Wireframe */

footer {
    /* border-top: 1px white dashed; */
    margin: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#extrabuttons button {
    justify-content: flex-end !important;
    padding: 10px;
    border: 1px white solid;
    color: white;
    background-color: blue;
    font-size: 10px;
    margin: 30px;
    font-family: 'Francois One', sans-serif;
    font-size: 15px;
}

#extrabuttons button:hover {
    border: 1px white solid;
    color: yellow;
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
}

#extrabuttons button:active { /*For Mobile styling */
    border: 2px white solid;
    color: yellow;
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
}

/* These colors represent the Jersey Colors for the Lakers */

.wire {
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.wire button {
    /* display: none; */
    position: relative;
}

#wire1, #wire2 {
    display: none;
}

a {
    color: white;
}

/* For different screens */

@media screen and (min-width: 1440px) {   /* Laptop with a view max of 1440px */
    h2 {
        text-align: center;
        font-size: 60px;
    }

    .actions {
        margin-top: 20%;
    }
}

@media screen and (max-width: 525px) {   /* Mobile with a view max of 525px */
    body {
        background-size: 100% 100%;
    }
    
    h2 {
        text-align: center;
        font-size: 24px;
        background: rgba(247, 202, 24, 0.4); /* Improves readability */
    }

    .actions {
        margin-top: 50%;
    }

    #about h4 {
        width: 40%;
        font-size: 10px;
        margin: 10% 25%;
        padding: 10px;
    }
}
