/* Google Fonts */
/* font-family: 'Francois One', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Satisfy', cursive; */

/* Main Items */

body {
    background: linear-gradient(45deg, rgba(142, 68, 173, 0.8), rgba(247, 202, 24, 0.6));
    background-image: url('background/kobe1.png');
    height: 100%;
    background-position: 50% 30%;   /* X and Y axis, almost the same as center top */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    transition: 1.0s;
    animation-name: changeBG;
    animation-direction: alternate;
    animation-duration: 60s;
    animation-timing-function: 3s;

}

@keyframes changeBG {
    0% {
        background-image: url(background/kobe1.png);
    }
    5% {
        background-image: url(background/kobe2.png);
    }
    10% {
        background-image: url(background/kobe3.png);
    }
    15% {
        background-image: url(background/kobe4.png);
    }
    20% {
        background-image: url(background/kobe5.png);
    }
    25% {
        background-image: url(background/kobe6.png);
    }
    30% {
        background-image: url(background/kobe7.png);
    }
    35% {
        background-image: url(background/kobe8.png);
    }
    40% {
        background-image: url(background/kobe9.png);
    }
    45% {
        background-image: url(background/kobe10.png);
    }
    50% {
        background-image: url(background/kobe11.png);
    }
    55% {
        background-image: url(background/kobe12.png);
    }
    60% {
        background-image: url(background/kobe13.png);
    }
    65% {
        background-image: url(background/kobe14.png);
    }
    70% {
        background-image: url(background/kobe15.png);
    }
    75% {
        background-image: url(background/kobe16.png);
    }
    80% {
        background-image: url(background/kobe17.png);
    }
    85% {
        background-image: url(background/kobe18.png);
    }
    90% {
        background-image: url(background/kobe19.png);
    }
    95% {
        background-image: url(background/kobe20.png);
    }
    98% {
        background-image: url(background/kobe21.png);
    }
    100% {
        background-image: url(background/kobe22.png);
    }

}

.paused {
    animation-play-state: paused;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* About */

#about {
    width: 100%;
    display: flex;
}

#about button {
    background: none;
    color: white;
    border: none;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 30px;
}

#about button:hover {
    color: yellow;
    cursor: pointer;
}

#about button:active { /*For Mobile styling */
    color: yellow;
    cursor: pointer;
}

#about h4 {
    width: 50%;
    margin: 10% 25%;
    background: white;
    border: 3px solid black;
    padding: 10px;
    /* opacity: 0.5; */
    font-family: 'Francois One', sans-serif;
    text-align: center;
    display: none;
    transition: 0.9s;
    z-index: 1;
    position: absolute; /* Prevents the rest of the page from moving down alot */
}

#about h4:hover {
    opacity: 0.9;
    transition: 0.8s;
}

#about h4:active { /*For Mobile styling */
    opacity: 0.9;
    transition: 0.8s;
}


#close {
    display: none;
}

#close:hover {
    color: red;
}



/* Quote */

#quote {
    flex-wrap: wrap;
    margin: 10px;
}

h2 {
    color: white;
    font-size: 50px;
    font-family: 'Lobster Two', cursive;
    transition: 2.0s;
    text-align: center;
    background: rgba(247, 202, 24, 0.2); /* Improves readability */
}

.actions {
    margin-top: 25%;
}

/*Button to get quote */

.actions button {
    padding: 20px;
    margin: 10px;
    border: 3px white solid;
    color: purple;
    background-color: yellow;
    font-family: 'Francois One', sans-serif;
    font-size: 15px;
    position: absolute;
    opacity: 0.7;
    transition: 0.6s;
}

.actions button:hover {
    padding: 20px;
    margin: 10px;
    border: 3px white solid;
    color: yellow;
    background-color: purple;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
}

.actions button:active { /*For Mobile styling */
    padding: 25px;
    margin: 10px;
    border: 3px white solid;
    color: yellow;
    background-color: purple;
    cursor: pointer;
    opacity: 1;
}


/* Wireframe */

.footer {
    /* border-top: 1px white dashed; */
    margin: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#extrabuttons button {
    justify-content: flex-end !important;
    padding: 10px;
    border: 1px white solid;
    color: white;
    background-color: blue;
    margin: 30px;
    font-family: 'Francois One', sans-serif;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.6s;
}

#extrabuttons button:hover {
    border: 1px white solid;
    color: yellow;
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
    opacity: 1;
}

#extrabuttons button:active { /*For Mobile styling */
    border: 2px white solid;
    color: yellow;
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
    opacity: 1;
}

/* These colors represent the Jersey Colors for the Lakers */

.wire {
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.wire button {
    /* display: none; */
    position: relative;
}

#wire1, #wire2 {
    display: none;
}

a {
    color: white;
}

/************Stats************/

th, tr, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    font-size: 17px;
}

th > button {
    padding: 15px;
    background: rgba(126, 7, 238, 0.466);
    margin-left: 55px;
    color: white;
}

th > button:hover {
    background: rgba(126, 7, 238, 0.753);
    cursor: pointer;
}

#careerstats {
    display: grid;
    grid-template-areas: "stats stats acolades8"
                         "stats stats acolades24"
                         "fullstats fullstats fullstats";
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: auto auto 1fr;
}

#stats {
    grid-area: stats;
}

#stats table {
    border: 2px solid black;
    /* background: rgba(255, 255, 255, 0.7) */
    background: rgba(104, 98, 13, 0.7);
    width: 100%;
    max-height: 100%;
    color: white;
    
}

/*Number Stats */

h3 {
    text-align: center;
}

#acolades-8 {
    grid-area: acolades8;
    list-style-type: square;
    border: 1px black solid;
    border-bottom: 3px black solid;
    background: rgba(206, 193, 11, 0.7);
    color: white;
}

#acolades-24 {
    list-style-type: circle;
    grid-area: acolades24;
    border: 1px black solid;
    background: rgba(103, 18, 201, 0.7);
    color: white;
}

/*Reference Stats */

#reference {
    grid-area: fullstats;
    background-color: rgba(155, 154, 156, 0.7);
    justify-content: center;
}

#reference th {
    background-color: rgba(127, 46, 207, 0.7);
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}


/* For different screens */

@media screen and (min-width: 1440px) {   /* Laptop with a view max of 1440px */
    h2 {
        text-align: center;
        font-size: 60px;
    }

    .actions {
        margin-top: 20%;
    }
}

@media screen and (max-width: 525px) {   /* Mobile with a view max of 525px */
    body {
        background-size: 100% 100%;
    }
    
    h2 {
        text-align: center;
        font-size: 24px;
        background: rgba(247, 202, 24, 0.4); /* Improves readability */
    }

    .actions {
        margin-top: 50%;
    }

    #about h4 {
        width: 40%;
        font-size: 10px;
        margin: 10% 25%;
        padding: 10px;
    }
}

@media screen and (max-width: 350px) {   /* Mobile with a view max of 525px */
    #extrabuttons button {
        font-size: 12px;
        padding: 3px;
    }

    #careerstats {
        grid-template-columns: 1fr 1fr 150px;
        grid-template-rows: auto auto 1fr;
    }

    th > button {
        padding: 10px;
        background: rgba(126, 7, 238, 0.466);
        margin: 1px;
        color: white;
    }
    

}
