:root {
    --kevcolor: #0099ff;
    --dougcolor: #ff3333;
    --djcolor: #f3aa21;
    --prescolor: #ad33ff;
    --bryancolor: #c6d400;
    --othercolor: #00cc99;
}

h1 {
    text-align: center;
    font-family: "Orbitron", sans-serif, Arial, "Squada One", cursive;
}

button {
    font-family: "Saira Condensed", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: outset;
    margin: 10px;
    box-shadow: 3px 3px 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(240, 240, 158);
}

button:active {
    transform: scale(0.9);
    transform: translateY(2px);
    border: ridge;
}

h2 {
    font-family: "Roboto Slab", serif, Arial, Helvetica, sans-serif;
    margin-right: 15px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}


/* Top Buttons */

#topbuttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#topbuttons button {
    background-color: rgb(26, 25, 25);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Kevin */
.kev  {
    color: var(--kevcolor);
}

.kev button {
    background-color: var(--kevcolor);
}

/* Doug */
.doug h2 {
    color: var(--dougcolor);
}

.doug button {
    background-color: var(--dougcolor);
}

/* DJ */
.dj h2 {
    color: var(--djcolor);
}

.dj button {
    background-color: var(--djcolor);
}

/* Pres */
.pres h2 {
    color: var(--prescolor);
}

.pres button {
    background-color: var(--prescolor);
}

/* Bryan */
.bryan h2 {
    color: var(--bryancolor);
}

.bryan button {
    background-color: var(--bryancolor);
}

/* Other */
.other h2 {
    color: var(--othercolor);
}

.other button {
    background-color: var(--othercolor);
}