/**************Background and Font**************/

:root {
    background-color:rgb(138, 207, 230);
    animation-name: destinybg;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease; 
}

@keyframes destinybg {
    0% {
        background-color: rgb(138, 207, 230);
    }

    50% {
        background-color: rgb(130, 143, 148);
    }

    100% {
        background-color: rgb(71, 108, 187);
    }
}

body {
    font-family: 'Oswald', sans-serif, Verdana
}

/**************Start**************/

#info {
    display: flex;
    width: 100%;
    justify-content: center;
}


#info label, input {
    justify-content: center;
}

#begin {
    display: flex;
    justify-content: center;
    width: 100%
}

#start {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: rgba(0, 60, 255, 0.986);
    opacity: 0.7;
    width: 50%;
    transition: 3s;
}

#start:hover {
    width: 100%;
    transition: 5s;
    background-color: rgba(15, 160, 34, 0.349);
    color: white;
}

.classinfo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#choose img:hover {
    transform: scale(1.05);
    transition: 1s;
}

#choose input[type="radio"]:checked {
    border: 2px rgba(15, 160, 34, 0.349) solid;
}

@media only screen and (max-width: 550px) {
    img {
        width: 50%;
    }

    #begin input {
        font-size: 12px;
    }
}

/* ******************2nd Page - Battle****************** */
/* *********Top********* */

#nav {
    width: 100%;
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    /* position: absolute; */
    background-color: rgba(0, 60, 255, 0.986);
    opacity: 0.7;
    border: 3px black solid
}

#nav button {
    padding: 15px;
    background-color: rgba(0, 60, 255, 0.986);
    color: white;
    border: 1px black solid;
}

#intro {
    position: relative;
    width: 100%;
    text-align: center;
}

#enemy {
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: -1;
}

#enemyname {
    text-decoration: underline;
}

#battle {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#battle button {
    padding: 40px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif, Verdana;
    background-color: green;
}

.hidden { /* For Start Battle */
    visibility: hidden;
}

#battle button:hover {
    border: 2px red solid;
    transform: scale(1.1);
    margin: 10px;
    transition: 1s;
}

/************* Shop *************/ 
#shop {
    display: grid;
    grid-template: auto auto auto;
    grid-row-gap: 50px;
}

.legendary {
    color: rgb(150, 31, 150);
}

.exotic {
    color: rgb(216, 216, 89);
}

/* Row 1 */
.grid-item-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.grid-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.grid-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

/* Row 2 */
.grid-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.grid-item-5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.grid-item-6 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

/* Row 3 */
.grid-item-7 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.grid-item-8 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.grid-item-9 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#shop button {
    background-color: black;
    justify-content: center;
    /* display: none; */
}

#shop button:hover {
    background-color: rgba(15, 160, 34, 0.349);
    justify-content: center;
    cursor: crosshair;
    /* display: none; */
}

#shop img {
    /* display: none; */
    height: 300px;
    width: 150px;
}

#shop h3 {
    color: rgb(138, 207, 230);
}

